<div class="modal-header">
    <h4 class="modal-title" style="color: rgb(58, 159, 182)">Create a new memory</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <hr/>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Title</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Description</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-black label-floating is-empty">
                <input type="file" class="form-control" accept="image/*" (change)="readUrl($event)"> Upload cover image
            </div>
             <img [src]="url">
        </div>
    </div>

    <div class="clearfix"></div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>