<app-navbar></app-navbar>

<div class="col-md-12" style="margin-top: 120px;">

    <!--<section class="col-md-8">-->
        <router-outlet></router-outlet>
    <!--</section>-->

    <!--<section class="col-md-3 tags-card tags-card-1">-->
        <!--<h3>Trending Tags</h3>-->
        <!--<hr/>-->

        <!--<div class="tags-list">-->
            <!--<div *ngFor="let tag of tags">-->
                <!--<p><a href="">#{{tag}}</a></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
</div>


